.bi-x-lg{position: absolute;right: 20px;top:10px;color: black;cursor: pointer;}
.menu{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;width: 100%;gap:10px}
.menu>div{width: 45%;padding: 10px 10px 10px;background-color: #eee;transition: 200ms;cursor: pointer;}
.menu>div:nth-child(odd){text-align: left;}
.menu>div:nth-child(even){text-align: left;}
.menu .not-sellected:hover{background-color: #66bfbf;color: white;}
.p-progressbar-label{display: none !important;}
.p-progressbar{margin: 10px 30px;}
.p-progressbar-value{background-color: #66bfbf;}
.active{background-color: #66bfbf !important;color: white;cursor: not-allowed !important;}
.non-active{cursor: not-allowed !important;}
@media(max-width:972px){
    .menu{flex-direction: column;}
    .menu > div{width: 100%;}
}